<div ng-controller="HomeCtrl as vm">

    <div class="row">
        <div class="text-center">
            <img src="images/vader.png" alt="Star Quizz" class="logo-splash">
        </div>
        <br>
        <h1 class="text-center">
            STAR QUIZZ            
        </h1>
    </div>

    <div class="row">
        <div class="text-center">
            <br>
            <a href="#/game" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-play-circle"></span> Jogar!
            </a>
        </div>
    </div>

</div>